<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        {{ changeligth(ligthNum) }} 
        <br><br>

        <template v-if="ligthNum==0">
            <div id="box1" style="width:50px; height: 50px; background-color : red;"></div>
        </template>
        <template v-if="ligthNum!=0">
            <div id="box1" style="width:50px; height: 50px; background-color : darkgray;"></div>
        </template>
        <br>
        <template v-if="ligthNum==1">
            <div id="box2" style="width:50px; height: 50px; background-color : yellow;"></div>
        </template>
        <template v-if="ligthNum!=1">
            <div id="box2" style="width:50px; height: 50px; background-color : darkgray;"></div>
        </template>
        <br>
        <template v-if="ligthNum==2">
            <div id="box3" style="width:50px; height: 50px; background-color : green;"></div>
        </template>
        <template v-if="ligthNum!=2">
            <div id="box3" style="width:50px; height: 50px; background-color : darkgray;"></div>
        </template>
        <br>
        <button @click="ligthNum++">Change Ligth</button>
      
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                ligthindex : ['red','yellow','green'],
                ligthNum : 0,
            },
            methods: {
                changeligth : function(ligthNum){
                    if (ligthNum == 0){
                        return 'Red'
                    } else if (ligthNum == 1) {
                        return 'Yellow'
                    } else if (ligthNum == 2) {
                        return 'Green'
                    } else {
                        this.ligthNum=0
                    }
                },
                
            },
        })
    </script>
</body>
</html>